.graphbox{
    position:relative;
    width: 95%;
    padding: 20px;
    display: grid;
    grid-template-columns: .8fr 1.6fr;
    grid-gap: 70px;
    min-height: 200px;
}
.graphbox .box{
    position: relative;
    background: #ffffff;
    padding: 20px;
    width: 90%;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}
@media (max-width: 991px){
    .graphbox{
        grid-template-columns: 1fr;
        height: auto;
    }
}
