@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0%;
    padding: 0%; 
    box-sizing: border-box;
 
 }
 header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 100px;
     background-color: aquamarine;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 99;
 }
 .logo{
     user-select: none;
     font-size: 2em;
 }
 .navigation a{
     position: relative;
     color: rgba(4, 54, 78, 0.76);
     text-decoration: none;
     margin-left: 40px;
     font-size: 1.1em;
     font-weight: 500;
 }
 .navigation a::after{
     content: '';
     position: absolute;
     width: 100%;
     left: 0;
     bottom: -6px;
     height: 3px;
     background: rgba(117, 73, 8, 0.791);
     border-radius: 5px;
     transform: scaleX(0);
     transition: transform .5s;
 }
 .navigation a:hover::after{
     transform-origin: left;
     transform: scaleX(1);
 }
 .navigation .btnLogin{
     position: relative;
     width: 130px;
     height: 50px;
     background: transparent;
     border: 2px solid ;
     outline: none;
     border-radius: 10px;
     cursor: pointer;
     font-size: 1.1em;
     font-weight: 200;
     margin-left: 40px;
     transition: .5s;
 }
 .navigation .btnLogin:hover {
     background-color: rgba(210, 251, 253, 0.668);
     color: rgb(9, 174, 155);
 }
 body{
    background-color: black;
    color: aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    text-align:center;
    padding: 0%;
    margin: 0%;
}
section{
    display: grid;
    align-content: center;
    place-items: center;
    min-height: 100vh;
    padding: 20%;
}
.ava{
    display: flex;
}
.ava:nth-child(2){
    transition-delay: 200ms;
}
.ava:nth-child(3){
    transition-delay: 400ms;
}
.ava:nth-child(4){
    transition-delay: 600ms;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition:all 2.8s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}
